
img{width:60%; border-radius:60px;}
table{ border-radius:4px; width:99%; border:1px solid silver;}
table tr td{text-align:center; background-color:gray;
               border:1px solid black; border-radius:10px;}
.title{text-align:center;
    width:99%;background-color:gray; font-size:33px;border-radius:10px; border:2px solid #2f002f;
}
fieldset{margin-bottom:12px; width:90%; border:3px solid gray; color:white; border-radius:8px;}
#fatora{ width:95%; background-color:gray; }
.control{background-color:silver;font-size:33px;}
.btn{background-color:#1B8B3d;font-size:20px; color:white;}
.data{color:white;font-size:18px;}
